body {
  background-color: #0a0a0a;
  color: #5865f2;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 0 10px #5865f2, 0 0 30px #5865f2;
}

p {
  color: #9fa7ff;
  margin-bottom: 40px;
}

.Discordbutton {
  color: #0a0a0a;
  background-color: #5865f2;
  padding: 14px 28px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 15px #5865f2, 0 0 30px #5865f2;
  transition: all 0.3s ease;
}

.Discordbutton:hover {
  background-color: #9fa7ff;
  color: #1a1a1a;
  box-shadow: 0 0 30px #9fa7ff;
}

.button-home {
  width: 35px;
  height: 35px;
  padding: 20px;
  font-size: 16px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  z-index: 1000;
  background-color: transparent;
  box-shadow: 0 0 10px #5865f2, 0 0 20px #5865f2 inset;
}

.button-home:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #5865f2, 0 0 60px #5865f2;
  background: linear-gradient(45deg, #5865f2, #5865f2, #5865f2);
}

.button-home:hover img {
  opacity: 1;
}

.button-home img {
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
