body {
  background-color: #0a0a0a;
  color: #e60023;
  font-family: "Orbitron", sans-serif;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 3rem;
  text-shadow: 0 0 10px #e60023, 0 0 30px #e60023;
}

p {
  color: #da7d8b;
  margin-bottom: 40px;
}

.Pintrerestbutton {
  color: #0a0a0a;
  background-color: #e60023;
  padding: 14px 28px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 0 15px #e60023, 0 0 30px #e60023;
  transition: all 0.3s ease;
}

.Pintrerestbutton:hover {
  background-color: #da7d8b;
  color: #1a1a1a;
  box-shadow: 0 0 30px #da7d8b;
}

.button-home {
  width: 35px;
  height: 35px;
  padding: 20px;
  font-size: 16px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  text-decoration: none;
  z-index: 1000;
  background-color: transparent;
  box-shadow: 0 0 10px #e60023, 0 0 20px #e60023 inset;
}

.button-home:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #e60023, 0 0 60px #e60023;
  background: linear-gradient(45deg, #e60023, #e60023, #e60023);
}

.button-home:hover img {
  opacity: 1;
}

.button-home img {
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
.qr-section {
  margin: 40px auto;
}

.qr-img {
  width: 220px;
  max-width: 90%;
  border-radius: 50px;
  box-shadow: 0 0 20px #e60023;
}
.pinterest-logo {
  width: 15vw;
  max-width: 80px;
  min-width: 60px;
  height: auto;
  display: block;
  margin: 0 auto 30px;
  filter: drop-shadow(0 0 10px #e60023) drop-shadow(0 0 20px #e60023);
  animation: pulseGlow 2s infinite ease-in-out;
}

@keyframes pulseGlow {
  0% {
    filter: drop-shadow(0 0 10px #e60023);
  }
  50% {
    filter: drop-shadow(0 0 20px #e60023);
  }
  100% {
    filter: drop-shadow(0 0 10px #e60023);
  }
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 60px #e60023;
  z-index: -1;
  pointer-events: none;
  animation: glowBorder 6s ease-in-out infinite;
}

@keyframes glowBorder {
  0%,
  100% {
    box-shadow: inset 0 0 40px #e60023;
  }
  50% {
    box-shadow: inset 0 0 80px #e60023;
  }
}
